<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modified Image Display</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Original and Modified Images</h1>
    </header>

    <div class="image-container">
        <div>
            <h3>Original Image:</h3>
            <a href="{{ url_for('static', filename='uploads/' + original_image) }}" target="_blank">
                <img src="{{ url_for('static', filename='uploads/' + original_image) }}" alt="Original">>
            </a>
        </div>
        <div>
            <h3>Modified Image:</h3>
            <a href="{{ url_for('static', filename='uploads/' + modified_image) }}" target="_blank">
                <img src="{{ url_for('static', filename='uploads/' + modified_image) }}" alt="Modified">
            </a>
            
        </div>
    </div>

    <div class="container">
        <a href="/">Upload Another Image</a>
        <br>
        <br>
        <a href="{{ url_for('interlace_two_html') }}">Advanced Interlacing</a>
    </div>

    <footer>
        <p>
            &copy; 2024 - 2025
            <a href="https://lemon-mochi.github.io/Personal-Site/" target="_blank">Gen Blaine.</a> All rights reserved.
        </p>
    </footer>
</body>
</html>