<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload to Modify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <header>
        <h1>Upload an Image to Modify</h1>
    </header>
    <div class="container">
        <form action="/" method="POST" enctype="multipart/form-data" id="image-form" >
            <br>
            <input type="file" name="file" accept="image/*" required>
            <h3>Select a modification</h3>
            <div class="button-container">
                <button type="button" onclick="setOperation('greyscale', this)">Greyscale</button>
                <button type="button" onclick="setOperation('darker', this)">Darker</button>
                <button type="button" onclick="setOperation('brighter', this)">Brighten</button>
                <button type="button" onclick="setOperation('darken_grey', this)">Darker and Greyscale</button>
                <button type="button" onclick="setOperation('dithering', this)">Ordered Dithering</button>
                <button type="button" onclick="setOperation('autolvl', this)">Automatic Levels</button>
                <button type="button" onclick="setOperation('saturation', this)">Increased Saturation</button>
                <button type="button" onclick="setOperation('auto_and_saturate', this)">Auto Levels and Saturate</button>
                <button type="button" onclick="setOperation('interlaced', this)">Interlace with Black Lines</button>
                <button type="button" onclick="setOperation('blurred', this)">Blur</button>
                <button type="button" onclick="setOperation('balance', this)">Balance</button>
                <button type="button" onclick="setOperation('distort1', this)">Distort 1</button>
                <button type="button" onclick="setOperation('distort2', this)">Distort 2</button>
                <button type="button" onclick="setOperation('upscale', this)">Upscale</button>
                <button type="button" onclick="setOperation('colours1', this)">Mix up colours 1</button>
                <button type="button" onclick="setOperation('colours2', this)">Mix up colours 2</button>
            </div>
            <input type="hidden" name="operation" id="operation">
            <br>
            <button type="submit" class="userButtons">Upload and Convert</button>
        </form>

        <p>Click here for more interlacing options: <a href="{{ url_for('interlace_two_html') }}">
            <img class="arrow" src="{{ url_for('static', filename='css/44621.png') }}" alt="arrow">
        </a></p>
        <p>Check out the repository on Github <a href="https://github.com/lemon-mochi/Image-Processing-Site">here</a>.</p>
        <p>
            Report errors by emailing me at <a href="mailto:genwblaine@gmail.com">genwblaine@gmail.com</a>
        </p>

        <h2>
            WARNING! Distort 1, Distort 2, Upscale, Mix up colours 1, and Mix up colours 2 all create an image that is larger than the original. They may not work properly on large images.
        </h2>

    </div>        

    <footer>
        <p>
            &copy; 2024 - 2025
            <a href="https://lemon-mochi.github.io/Personal-Site/" target="_blank">Gen Blaine.</a> All rights reserved.
        </p>
    </footer>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>